* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

::selection {
  background-color: #28a745;
  color: #ffffff;
}

.ad-body {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ad-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.8rem 1.6rem;

  background-image: linear-gradient(
    90deg,
    rgb(0, 0, 0),
    rgb(10, 44, 10),
    rgb(0, 0, 0)
  );
  color: white;
}

.ad-logout {
  font-size: 1.4rem;
  line-height: 2.1rem;
  padding: 0.4rem 0.8rem;

  color: white;
  border-radius: 0.3rem;

  border: 0.67px solid rgb(36, 150, 62);
  background-color: rgb(18, 79, 18);
}

.ad-logout:hover {
  background-color: rgba(18, 79, 18, 90%);
}

.ad-logout:focus {
  outline: 2px solid rgb(36, 150, 62);
}

.ad-main {
  width: 91%;
  margin: 0 auto;
  padding: 2rem 0;
}

.ad-btn-add {
  background-color: rgb(18, 79, 18);
  color: white;
  padding: 1.2rem;
  border: none;
  border-radius: 0.8rem;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.ad-new-user__form {
  width: 32rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 25%);
  background-color: #fefefe;
  border-radius: 0.5rem;

  padding: 2rem;
  margin-top: -2rem;

  position: absolute;
  right: calc(9% / 2);
}

.ad-new-user__form h2 {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 2rem;
}

.ad-new-user__form label {
  display: block;
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.ad-new-user__form input {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  border: 1px solid #5f5f5f;
  background-color: #fefefe;
  font-size: 1.5rem;
}

.ad-new-user__form button {
  background-color: rgb(18, 79, 18);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
  margin-top: 1rem;
}

.ad-btn-add:hover,
.ad-new-user__form button:hover {
  background-color: rgba(18, 79, 18, 0.9);
}

.ad-btn-add:focus,
.ad-new-user__form button:focus {
  outline: 2px solid rgb(36, 150, 62);
}

.ad-total-users {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #eeeeee;
  font-weight: 500;
  line-height: 1.9rem;
  color: #e00019;
}

.searchbar {
  padding: 1rem 0.75rem;
  width: 30%;
  border-radius: 0.5rem;
  border: 1px solid #5f5f5f;
  font-size: 1.5rem;
}

.searchbar:hover,
.ad-new-user__form input:hover {
  outline: 1px solid #28a745;
  border: 1px solid transparent;
}

.searchbar:focus,
.ad-new-user__form input:focus {
  outline: 2px solid #28a745;
}

.ad-table-header {
  background-color: #eeeeee;
  border-radius: 1rem;
  border: 1px solid #5f5f5f;
  overflow: hidden;

  padding: 0.3rem;
  margin-bottom: 1rem;
}

.ad-table-header table {
  width: 100%;
  text-align: left;
  color: white;
  border-collapse: collapse;
}

.ad-table-header th {
  font-size: 1.5rem;
  color: black;
  line-height: 1.4rem;
  font-weight: 600;
  text-align: left;

  padding: 1rem 1.7rem 1rem 1rem;
}

.ad-table-header th:not(:last-child) {
  border-right: 1px solid #999999;
}

.ad-table-body {
  width: 100%;
  border-collapse: collapse;

  font-size: 1.4rem;
  line-height: 1.6;
}

.ad-table-body td {
  padding: 1rem 1.7rem 1rem 1rem;
  border-bottom: 1px solid #e9ecef;
}

.ad-table-body td:not(:last-child) {
  border-right: 1px solid #e9ecef;
}

.ad-table-body tr td:first-child {
  text-align: right;
}

.ad-table-body tr td:last-child {
  text-align: center;
}

.ad-btn-delete {
  background-color: transparent;
  border: none;
  padding: 0.2rem;
}

.ad-btn-delete:focus {
  outline: 2px solid #023668;
  border-radius: 0.5rem;
}

.ad-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  margin-block: 2rem;
}

.ad-circle-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.ad-circle {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 25%);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 500;
}

.ad-active-page {
  color: #ffffff;
  background: #f60621;
}

/* Utilities */
.text-24 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: 600;
}

.flex {
  display: flex;
}

.flex-x-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap-15 {
  gap: 1.5rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-14 {
  margin-bottom: 1.4rem;
}

.mb-19 {
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}
/* Utilities */
